@page
@model Razor_App.Pages_Friends.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ApplicationUser</h4>
<hr />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
