@page
@model Razor_App.Pages_Friends.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ApplicationUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApplicationUser.DateOfBirth" class="control-label"></label>
                <input asp-for="ApplicationUser.DateOfBirth" class="form-control" />
                <span asp-validation-for="ApplicationUser.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.City" class="control-label"></label>
                <input asp-for="ApplicationUser.City" class="form-control" />
                <span asp-validation-for="ApplicationUser.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.Municipal" class="control-label"></label>
                <input asp-for="ApplicationUser.Municipal" class="form-control" />
                <span asp-validation-for="ApplicationUser.Municipal" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ApplicationUser.Id" />
            <div class="form-group">
                <label asp-for="ApplicationUser.UserName" class="control-label"></label>
                <input asp-for="ApplicationUser.UserName" class="form-control" />
                <span asp-validation-for="ApplicationUser.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.NormalizedUserName" class="control-label"></label>
                <input asp-for="ApplicationUser.NormalizedUserName" class="form-control" />
                <span asp-validation-for="ApplicationUser.NormalizedUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.Email" class="control-label"></label>
                <input asp-for="ApplicationUser.Email" class="form-control" />
                <span asp-validation-for="ApplicationUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.NormalizedEmail" class="control-label"></label>
                <input asp-for="ApplicationUser.NormalizedEmail" class="form-control" />
                <span asp-validation-for="ApplicationUser.NormalizedEmail" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ApplicationUser.EmailConfirmed" /> @Html.DisplayNameFor(model => model.ApplicationUser.EmailConfirmed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.PasswordHash" class="control-label"></label>
                <input asp-for="ApplicationUser.PasswordHash" class="form-control" />
                <span asp-validation-for="ApplicationUser.PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.SecurityStamp" class="control-label"></label>
                <input asp-for="ApplicationUser.SecurityStamp" class="form-control" />
                <span asp-validation-for="ApplicationUser.SecurityStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.ConcurrencyStamp" class="control-label"></label>
                <input asp-for="ApplicationUser.ConcurrencyStamp" class="form-control" />
                <span asp-validation-for="ApplicationUser.ConcurrencyStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.PhoneNumber" class="control-label"></label>
                <input asp-for="ApplicationUser.PhoneNumber" class="form-control" />
                <span asp-validation-for="ApplicationUser.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ApplicationUser.PhoneNumberConfirmed" /> @Html.DisplayNameFor(model => model.ApplicationUser.PhoneNumberConfirmed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ApplicationUser.TwoFactorEnabled" /> @Html.DisplayNameFor(model => model.ApplicationUser.TwoFactorEnabled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.LockoutEnd" class="control-label"></label>
                <input asp-for="ApplicationUser.LockoutEnd" class="form-control" />
                <span asp-validation-for="ApplicationUser.LockoutEnd" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ApplicationUser.LockoutEnabled" /> @Html.DisplayNameFor(model => model.ApplicationUser.LockoutEnabled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.AccessFailedCount" class="control-label"></label>
                <input asp-for="ApplicationUser.AccessFailedCount" class="form-control" />
                <span asp-validation-for="ApplicationUser.AccessFailedCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
